[Desktop Entry]
Categories=Qt;System;
Comment=A system tool to manage system's accounts and groups.
Comment[el]=Εργαλείο διαχείρισης λογαριασμών συστήματος 
Exec[$e]=/usr/bin/UserManager
GenericName=User Manager
GenericName[el]=Διαχειριστής Λογαριασμών Συστήματος
Icon=/usr/share/pixmaps/UserManager.gif
MimeType=
Name=UserManager
Name[el]=UserManager
OnlyShowIn=KDE;
Path[$e]=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=true
X-KDE-Username=root
