Desktop Entry]
Type=Application
Encoding=UTF-8
Name=UserManager
Comment=provides administration support for user management
Icon=/root/Pictures/UserManager.gif
Exec=/usr/bin/UserManager
Terminal=false
Categories=Tags;Describing;Application
Desktop Entry]
Type=Application
Encoding=UTF-8
Name=UserManager
Comment=provides administration support for user management
Icon=/root/Pictures/UserManager.gif
Exec=/usr/bin/UserManager
Terminal=false
Categories=Tags;Describing;Application
