[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=UserManager
Comment=provides administration support for user management
Icon=UserManager
Exec=/usr/bin/UserManager
Terminal=false
Categories=System;Application;Utility;
